<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Common Photos</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
				<string>gif</string>
				<string>heic</string>
				<string>heif</string>
				<string>jpg</string>
				<string>jpeg</string>
				<string>png</string>
				<string>tif</string>
				<string>tiff</string>
				<string>webp</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
				<string>org.khronos.webp</string>
				<string>public.bmp</string>
				<string>public.gif</string>
				<string>public.heic</string>
				<string>public.heif</string>
				<string>public.jpeg</string>
				<string>public.png</string>
				<string>public.tiff</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Camera RAW Files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nef</string>
				<string>dng</string>
				<string>cr2</string>
				<string>cr3</string>
				<string>arw</string>
				<string>raf</string>
				<string>orf</string>
				<string>rw2</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>com.adobe.raw-image</string>
				<string>com.canon.cr2-raw-image</string>
				<string>com.canon.cr3-raw-image</string>
				<string>com.nikon.nef-raw-image</string>
				<string>com.fujifilm.raf-raw-image</string>
				<string>com.olympus.orf-raw-image</string>
				<string>com.panasonic.rw2-raw-image</string>
				<string>com.sony.arw-raw-image</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.camera-raw-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nikon NEF RAW Image</string>
			<key>UTTypeIdentifier</key>
			<string>com.nikon.nef-raw-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nef</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.camera-raw-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adobe DNG RAW Image</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.raw-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dng</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.camera-raw-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Canon CR2 RAW Image</string>
			<key>UTTypeIdentifier</key>
			<string>com.canon.cr2-raw-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cr2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.camera-raw-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Canon CR3 RAW Image</string>
			<key>UTTypeIdentifier</key>
			<string>com.canon.cr3-raw-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cr3</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.camera-raw-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sony ARW RAW Image</string>
			<key>UTTypeIdentifier</key>
			<string>com.sony.arw-raw-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>arw</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.camera-raw-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Fujifilm RAF RAW Image</string>
			<key>UTTypeIdentifier</key>
			<string>com.fujifilm.raf-raw-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>raf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.camera-raw-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Olympus ORF RAW Image</string>
			<key>UTTypeIdentifier</key>
			<string>com.olympus.orf-raw-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>orf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.camera-raw-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Panasonic RW2 RAW Image</string>
			<key>UTTypeIdentifier</key>
			<string>com.panasonic.rw2-raw-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rw2</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
